<% include partials/header %>
    <div class="container">
        <div class="ui inverted menu">
            <a class="item">
                <i class="icon code"></i>
                Dev Blog
            </a>
            <a class="item">
                Home
            </a>
            <a href="/blogs/new" class="item">
                New Blog
            </a>
        </div>
        <div class="ui segment">
            <% blogs.forEach(function(blog){ %>
                <div class="ui raised segment">
                </div>


                <p>
                    <h2>
                        <%= blog.title %>
                    </h2>
                    <img src="<%= blog.image %>" alt="">
                    <p>
                        <%= blog.created %>
                    </p>
                    <p>
                        <%= blog.body %>
                    </p>
                </p>
                <%})%>
        </div>
        <% include partials/footer %>