<% include partials/header %>
    <form class="ui form segment " action="/blogs/<%= blog._id %>/edit" method="post">
        <div class="field">
            <h2>
                <label>Edit Blog</label>
            </h2>
        </div>
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>" >
        </div>
        <div class="field">
            <label>Image Link</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea placeholder="Blog content" name="blog[body]" id="" cols="30" rows="10"></textarea>
        </div>
        <a href="/blogs/new">
            <button class="ui button">
                POST
            </button>
        </a>
    </form>
    <% include partials/footer %>