<% include partials/header %>
<div class="ui raised segment">
<form action="/new" method="post">
    <input type="text" name=blog[title] placeholder="Title here">
    <input type="text" name=blog[image] placeholder="Image here">
    <input type="text" name=blog[body] placeholder="Body here">
    <button>Post Blog</button>
</form>
</div>
<% include partials/footer %>